---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import History from "../components/History.astro";
import Coverage from "../components/Coverage.astro";
import Products from "../components/Products.astro";
import Why from "../components/Why.astro";
import Brands from "../components/Brands.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <History />
    <Coverage />
    <Products />
    <Why />
    <Brands />
    <Contact />
  </main>
  <Footer />
</Layout>
